body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #f1cfe3;
}
footer {
  background-color: #f1cfcf;
}

h1,
h2,
h3,
h4,
h5,
h6,
.bold {
  font-weight: 700;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  margin: 0px auto;

  padding-left: 375px;
  padding-right: 375px;

  max-width: 1920px;
  width: 100%;
  height: 100%;
}

@media (max-width: 1440px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  .container{
    padding-left: 0px;
    padding-right: 0px;
  }
}
