body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.bold {
  font-weight: 700;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.btn {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 4px;
  outline: none;
  cursor: pointer;

  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.btn-primary {
  display: flex;
  padding: 16px 40px 14px 40px;
  justify-content: center;
  align-items: center;
  gap: 4px;

  background: #128c76;
  border: 1px solid #128c76;
  color: #fff;
}

.btn-outline {
  display: flex;
  padding: 16px 40px 14px 40px;
  justify-content: center;
  align-items: center;
  gap: 4px;

  border: 1px solid #f56b8d;
  background: #fff;
  color: #f56b8d;
}

.btn-icon {
  display: none !important;
}

header {
  background-color: #f1cfe3;
}
/* main {} */
footer {
  background-color: #f1cfcf;
}

.container {
  margin: 0px auto;

  padding-left: 375px;
  padding-right: 375px;

  max-width: 1920px;
  width: 100%;
  height: 100%;
}

@media (max-width: 1440px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 1024px) {
  .btn-text {
    display: none;
  }
  .btn__header {
    border-radius: 30px;
    width: 44px;
    height: 44px;
    padding: 0;
    justify-content: center;
  }
  .btn-icon {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .container{
    padding-left: 0px;
    padding-right: 0px;
  }
}
